<side>
    <ul>
        <li><a href="."><%= image_tag 'home.png' %>ホーム</a></li>
        <li><a href="."><%= image_tag 'ini.png' %>話題を検索</a></li>
        <li><a href="."><%= image_tag 'tu.png' %>通知</a></a></li>
        <li><a href="."><%= image_tag 'message.png' %>メッセージ</a></li>
        <li><a href="."><%= image_tag 'book.png' %>ブックマーク</a></li>
        <li><a href="."><%= image_tag 'list.png' %>リスト</a></li>
        <li><a href="."><%= image_tag 'pro.png' %>プロフィール</a></li>
        <li><a href="."><%= image_tag 'more.png' %>もっと見る</a></li>
    </ul>
</side>

<h2><back><%= link_to 'ツイートする', '/tweets/new' %></back></h2>