<%= form_for @tweet, url: {action: :update} do |f| %>
<p>
    <%= f.label :message, 'メッセージ' %>
    <%= f.text_field :message %>
</p>
<%= f.submit '更新' %>
<p>
    <%= f.label :file, 'ファイル' %>
    <%= f.file_field :file %>
</p>
<% end %>
