<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<% @tweets.each do |tweet| %>
<p>
    <%= image_tag 'taiyo.png' %>
    <%= tweet.message %>
    <%= link_to '削除', "/tweets/#{tweet.id}",method: :delete %>
    <%= link_to '表示', "/tweets/#{tweet.id}" %>
    <%= link_to '編集', "/tweets/#{tweet.id}/edit" %>
    <%= (Time.zone.now - tweet.tdate).floor / 60 %>分前
    <%= image_tag "/get_tweet/#{tweet.id}" %>
</p>
<% end %>
